/*
 * Overrides CSS
 */
/*fonts*/
@font-face {
    font-family: 'assistantbold';
    src: url('/templates/089-standard/fonts/assistant-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'assistantregular';
    src: url('/templates/089-standard/fonts/assistant-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
/*@font-face {
    font-family: 'dosisbold';
    src: url('/templates/089-standard/fonts/dosis-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'dosisregular';
    src: url('/templates/089-standard/fonts/dosis-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}*/
/*Resp overrides*/
@media (min-width: 1280px) {
  
  .fullwidth {
      width: 100%;
  }

  .innerwidth {
      width: 1000px;
      margin: 0px auto;
  }
}
/*<---END Resp overrides*/


/* critical CSS */
:root {
    --first-color: #0084c2;
    --scond-color: #e88e11;
}
a {
    -webkit-transition: color 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out;
}
a:hover {
    text-decoration: none;
}
body {
    animation:fadein .5s ease-in-out forwards;
      -webkit-animation:fadein .5s ease-in-out forwards; 
}
    @-webkit-keyframes fadein 
    { from {opacity:0} to {opacity:1} }
    @keyframes fadein 
    { from {opacity:0} to {opacity:1} }

h1, h2, h3, h4 {
    font-family: 'assistantregular';
    font-weight: normal;
    color: #4a4a4a;
    letter-spacing: 0.1em;
}
p, a, ul, li, address {
    /*font-family: 'dosisregular';*/
    font-family: 'assistantregular';
}
body.site ul,
body.site ol {
    margin: 0 0 10px 20px;
}
body#body ol.breadcrumb {
    margin: 0 0 10px 0px;
}
body.desktop p,
body.desktop li,
body.desktop a {
    font-size: 18px;
}
p, li, a {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px;
}
.clr {
    clear: both;
}
.flex,
body.desktop .navRow,
body.tablet .navRow,
body.desktop .werteContainer,
body.tablet .werteContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2783c6;
    border-radius: 0px;
}

#header .vcard {
    display: none;
}
body#body .orangHeader,
body#body .blueHeader {
    color: #fff;
    text-transform: uppercase;
    padding: 30px 0px 5px 10px;
    border-radius: 3px;
}
body#body .blueHeader {
    background: #1962a6;
}
body#body .orangHeader,
.orangBanner {
    background: var(--scond-color);
}
body#body .orangBanner {
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border-radius: 3px;
}

/*content*/
body.mobile #content .blog {
    padding: 0px 20px;
}
body.site .blog .item {
    margin-bottom: 50px;
}
body.site .blog h2 {
    font-size: 21px;
}
body.site .blog h1 {
    font-size: 28px;
}
body.site .blog p {
    font-size: 14px;
}
body.site .blog .pull-left.item-image {
    max-width: 340px;
    margin-right: 30px;
}
body.site .blog span.icon-chevron-right {
    display: none;
}
body.desktop.not_home h1 {
    letter-spacing: 0.1em;
}
body#body.desktop .artcicleBody--fullText h3 {
    font-size: 20px;
}
.artcicleBody--fullText h3 {
    font-weight: bold;
    line-height: 30px;
    margin: 20px 0px;
}
.articleBody--introText__inner h2 {
    line-height: 30px;
}
body#body.desktop a.honorarNav--link:hover {
    color: #fff;
    background: var(--scond-color);
}
nav.honorarNav {
    padding: 30px 0px;
}
body#body a.honorarNav--link {
    padding: 5px 10px;
    background: #f8f8f8;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    color: var(--scond-color);
    margin-right: 20px;
    text-decoration: none;
}
body.desktop a.honorarNav--link {
    margin-right: 20px;
}
.honorarNav--container {
    margin: 30px auto;
}
body#body .engage a:hover {
    background: #4a4a4a;
    color: #fff;
    text-decoration: none;
}
body#body .engage a {
    color: #4a4a4a;
    text-decoration: underline;
    background: transparent;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}
.engage {
    background: #efefef;
    padding: 50px 10px;
    margin-bottom: 30px;
}
body#body.desktop.team h2 {
    font-size: 28px;
}
.team--haus__text h3 {
    font-size: 18px;
}
body.site .team--haus__text p {
    font-size: 14px;
}
.team--haus__text {
    background: #fff;
    padding: 20px 20px;
    border-radius: 0px 0px  3px 3px;
    height: 50%;
}
.team--haus__item:last-child {
    margin-right: 0px;
}
body.desktop .team--haus__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.team--haus__item {
    margin-right: 30px;
}
.team--haus__item img {
    width: 100%;
    border-radius: 3px 3px;    
}
body.desktop .team--haus__row {
    margin-bottom: 60px;
}
.team--haus {
    background: #f3f3f3;
    padding: 80px 0px;
}
.team--member__container{
    margin-bottom: 100px;
}
.team--member__row {
    margin-bottom: 30px;
}
.team--member__item:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: rgba(0, 132, 194, 0.1);
    transition: background 0.2s linear;
}
body.desktop .team--member__item:hover:before {
    background: rgba(0, 132, 194, 0.3);
}
.team--member__item {
    position: relative;
    margin-right: 40px;
}
body.desktop .team--member__item {
    margin-right: 40px;
}
body.desktop .team--member__item:last-child,
body.tablet .team--member__item:last-child {
    margin-right: 0px;
}   
body.desktop .team--member__item h3 {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
body.desktop .team--member__item:hover h3 {
    opacity: 1;
}
body.desktop .team--member__item h3 {
    top: 50px;
}
.team--member__item h3 {
    font-size: 18px;
    position: absolute;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    text-shadow: 2px 1px 5px #5d5d5d, 1px 1px 0px #444, 1px 0px 4px #4496d6;    
}
.team--member__header {
    margin: 50px 0px;
}
.team h2 {
    text-transform: uppercase;
}
body.desktop .team--chef__img {
    margin-right: 100px;
}
body#body.desktop .team--chef__text blockquote {
    font-size: 20px;
}
body.site.desktop blockquote { 
    font-family: 'assistantregular';
    margin: 0 auto;
    width: 540px;
    line-height: 35px;
    font-size: 28px;
}
body.site blockquote {
    font-family: 'assistantregular';
    padding: 0;
    margin: 0;
    border-left: none;
    font-style: italic;
}
.team--chef__text h2 {
    color: #1962a6;
    font-weight: bold;
    text-transform: none;
}
body.desktop .alignRightHeader {
    text-align: right;
}
.team--chef__header {
    margin-bottom: 10px;
}
body.desktop .team--chef--twoColumn,
body.tablet .team--chef--twoColumn,
body.desktop .team--member__row,
body.tablet .team--member__row,
body.desktop .team--haus__row.innerwidth,
body.tablet .team--haus__row.innerwidth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
body.desktop .team--chef--twoColumn,
body.tablet .team--chef--twoColumn{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.team--chef {
    background: #f3f3f3;
    padding-top: 30px;
}
.innerwidth.item-page {
    margin-bottom: 100px;
}
.artcicleBody--fullText ul li a,
.artcicleBody--fullText a {
    max-width: 100%;
    position: relative;
    color: #e18f00;
    padding: 0px 3px;
    text-decoration: underline;
    cursor: pointer !important;    
}
.artcicleBody--fullText ul li a:after,
.artcicleBody--fullText a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    transition: all 0.3s ease-out;
}
.artcicleBody--fullText ul li a:hover:after,
.artcicleBody--fullText a:hover:after {
    background: #e18f00;
}
.artcicleBody--fullText ul li a:hover,
.artcicleBody--fullText a:hover {
    color: #fff;
}
.artcicleBody--fullText ul li,
.artcicleBody--fullText ol li {
    line-height: 30px;
}
.artcicleBody--fullText p,
.artcicleBody--fullText h2,
.artcicleBody--fullText ul,
.artcicleBody--fullText ol,
.artcicleBody--fullText h3,
.artcicleBody--fullText h4 {
    padding: 0px 10px;
}
a.honorarNav--link {
    margin-left: 10px;
}
.artcicleBody--fullText h3 {
    font-size: 19px;
}
body#body.desktop .orangHeader,
body#body.desktop .blueHeader {
    font-size: 28px;
}
body#body.phone .orangHeader,
body#body.phone .blueHeader {
    font-size: 21px;
}
.articleBody--introImage {
    position: relative;
}
.item-page.mykanzlei .articleBody--introImage img {
    -o-object-fit: initial;
       object-fit: initial;
    width: initial;
    height: initial;
}
.articleBody--introImage img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
}
body.mykanzlei .articleBody--introImage:after,
body.zertifikate .articleBody--introImage:after {
    content: none;
}
body.mykanzlei .articleBody--introImage img {
    max-width: 80%;
}
/*.articleBody--introImage:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
}
.item-page.steuerberatung .articleBody--introImage:after {
    background: transparent;
}*/
.articleBody--introText__inner h2 {
    font-size: 24px;
    text-transform: uppercase;
}
.articleBody--introText__inner h3 {
    font-size: 21px;
    line-height: 28px;
}
.artcicleBody--fullText h2 {
    font-size: 21px;
    margin: 30px 0px;
    line-height: 30px
}
body.desktop .content--zertifikat,
body.tablet .content--zertifikat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 50px;    
}
body.desktop .content--zertifikat p,
body.tablet .content--zertifikat p {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
}
.content--zertifikat div {
    max-width: 205px;
}
body.desktop .imgFloat {
    text-align: center;
}
.imgFloat {
    margin: 80px 0px;
}
body.desktop .imgFloat img,
body.tablet .imgFloat img {
    margin-right: 50px;
}
body.unsere-Werte .artcicleBody--fullText h2,
body.umweltschutz .artcicleBody--fullText h2 {
    margin: 20px 0px 15px;
    line-height: 25px
}
body.umweltschutz .artcicleBody--fullText h2,
body.umweltschutz .artcicleBody--fullText h3 {
    color: #e18f00;
}
body.mobile .artcicleBody--fullText h2 {
    font-size: 18px
}
body.desktop .innerwidth.item-page.zertifikate h2 {
    font-size: 24px;
}
body.mobile .innerwidth.item-page.zertifikate h2 {
    font-size: 21px;
}
body.desktop.not_home .item-page h1 {
    font-size: 32px;
    margin-bottom: 20px;
}
body.mobile.not_home .item-page h1 {
    font-size: 28px;
}
body.not_home .item-page h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0px;
}
.articleBody--introText__inner {
    padding: 20px 30px;
}
.articleBody--introText {
    background: #efefef;
}
body.desktop .articleBody--introHeader,
body.tablet .articleBody--introHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
body.desktop .articleBody--introHeader div,
body.tablet .articleBody--introHeader div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
ol.breadcrumb a {
    color: #e18f00;
}
ol.breadcrumb a,
ol.breadcrumb li {
    font-size: 12px;
}
body.site .breadcrumb {
  background-color: #fbfbfb;
}
.breadcrumb li:nth-child(3) .pathway {
    color: #333;
}
  /*startseite*/
.homePresent__bottom h2:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0px;
    bottom: -5px;
    left: 0%;
    border-bottom: 4px double #4a4a4a;
}
.homePresent__bottom {
    text-align: center;
}
body.desktop .homePresent__bottom2 {
    height: 175px;
}
.homePresent__bottom {
    color: #003052;
    background: #ededed;
    height: 10vh;
}
.sloganContainer {
    width: 400px;
    margin: 0 auto;
}
.homePresent__bottom h2 {
    margin: 0px;
    position: relative;
    letter-spacing: 0.1px;
}
body.desktop .homePresent h1 {
    font-size: 52px;    
}
.homePresent h1 {
    text-transform: uppercase;
    margin-bottom: 50px;
    color: #1962a6;
    letter-spacing: 5px;
    font-weight: bold;    
}
.homePresent h2 {
    margin: 50px 0px;
}
.item-page.home .articleBody,
.homePresent__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 0;
    position: relative;            
}
.item-page.home .articleBody {
    height: 100%;
}
.homePresent {
    text-align: center;
    position: relative;
}
.item-page.home {
    background: url('/images/kanzlei-hetsch-startseite-header.jpg') fixed no-repeat;
    background-size: cover;
    height: calc(80vh - 30px);
    background-position: 70% 40%;
}
.item-page.home:before {
    background: -moz-linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.25) 100%);
    background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.25) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(125, 125, 125, 0.1) 75%, rgba(0, 0, 0, 0.25) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#4d000000", GradientType=0);
    bottom: 96px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 2;
}
div#aboveTHeFold {
    margin-top: calc(10vh + 30px);
    /*height: calc(90vh - 30px);*/
}
body.is_home div#aboveTHeFold {
    height: calc(90vh - 30px);
}
  /*<--- END startseite*/
div#menuWrapper {
    padding: 30px 30px 0px 30px;
    height: 96px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #fff;
    z-index: 3;
    box-shadow: 0px 2px 40px -20px #4a4a4a;
    transition: all 0.3s ease;
}
.page-header {
    border-bottom: none;
}
body.desktop .logoWrapper.menuFlexItem {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
body.desktop .navbar-wrapper.menuFlexItem {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
body.desktop.not_home h1 {
    letter-spacing: 0.1em;
}

/*SEO-Page*/
@media(min-width: 1280px) {
    body#body.seo-page .innerwidth {
        width: 1280px;
    }
}
.custom.seo-module.header {
    position: relative;
}
.seo-module--img-container {
    max-height: 480px;
    overflow: hidden;
}
.seo-module--img-container img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
}
.seo-module--container {
    position: absolute;
    left: calc((100vw - 1280px) / 2);
    top: 25%;
    width: 1280px;
}
.seo-module--container h1 {
    text-transform: uppercase;
    color: #014b8f;
}
.seo-module--container h2 {
    font-size: 21px;
    line-height: 28px;
    color: #014b8f;
}
body#body.seo-page p {
    font-size: 16px;
}
.greyBckgr {
    background: #f3f3f3;
}
.seo-module.header .greyBckgr p {
    padding: 20px; 
}
.seo-module {
    margin-bottom: 60px;
}
.seo-module.vorteile .flex div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
.seo-module--vorteile-container h2 {
    font-size: 21px;
}
.seo-module--vorteile-container h3 {
    font-size: 18px;
}
.seo-module--vorteile-container--content {
    padding: 10px;
}
.seo-module--vorteile-img-container {
    background: var(--first-color);
}
.seo-module--vorteile-img-container img {
/*    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;*/
}
.seo-module--vorteile-container--content p {
    padding: 0px 0px 0px 10px;
}
.seo--kernkompetenz__text {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
}
.seo--kernkompetenz__img {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
}
.flex.flex--row {
    padding: 20px;
}
.seo--kernkompetenz__text {
    margin-right: 50px;
}
h2.seo--kernkompetenz--header {
    text-align: center;
    padding: 20px 0px;
    font-size: 31px;
    text-transform: uppercase;
}
body.desktop .seo-module--nachricht--item:first-of-type,
body.tablet .seo-module--nachricht--item:first-of-type {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
}
body.desktop .seo-module--nachricht--item:last-of-type,
body.tablet .seo-module--nachricht--item:last-of-type {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
.seo-module--nachricht--item figure {
    margin: 20px;
    text-align: center;
}
.seo-module--nachricht--content {
    margin: 30px;
}
.seo-module--nachricht--item figcaption h3 {
    color: #1b5b94;
    font-size: 24px;
}
body#body .seo-module--nachricht--item figcaption p {
    font-size: 12px;
    color: #676767;
}
.custom.seo-module.nav-kachel-1>div {
    padding-bottom: 20px;
}
.custom.seo-module.nav-kachel-1 h2,
.custom.seo-module.nav-kachel-2 h2 {
    text-align: center;
    padding: 20px 0px 10px;
}
body.seo-page .navRow.navRow__unten {
    margin: 20px 50px;
    background: #fff;
    padding: 30px;
}
.seo-module--faq--content {
    padding: 20px;
}
h2.faq-header {
    margin-bottom: 60px;
}
.seo-module--faq__item p {
    padding-left: 20px;
}
.seo-module--faq__item {
    margin-bottom: 60px;
}
.custom.seo-module.nav-kachel-2>div {
    padding: 20px 0px;
}


/*<--- END SEO-Page*/

/*<---END content*/

 /*Menue*/
body.desktop li.parent>a {
    cursor: text;
}
ul.nav-child.dropdown-menu li a {
    padding: 15px;
}
body#body.mobile li.dropdown.deeper.mootools-noconflict.parent:before {
    left: 5px;
}
li.dropdown.deeper.mootools-noconflict.parent:before {
    content: '';
    position: absolute;
    top: 17px;
    right: 3px;
    width: 0px;
    height: 0px;
    border-top: 5px solid #e18f00;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
body.desktop #menuWrapper .logoWrapper,
body.desktop #menuWrapper .navbar-wrapper {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.5s cubic-bezier(.62,-0.72,.37,1.87);
    -o-transition: all 0.5s cubic-bezier(.62,-0.72,.37,1.87);
    transition: all 0.5s cubic-bezier(.62,-0.72,.37,1.87);
} 
body.desktop #menuWrapper.sticky .logoWrapper,
body.desktop #menuWrapper.sticky .navbar-wrapper {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;            
}
body.desktop #menuWrapper {
    opacity: 1;
} 
body.desktop #menuWrapper.sticky {
/*    -webkit-animation: menuSticky 0.1s ease-in-out forwards;
            animation: menuSticky 0.1s ease-in-out forwards;*/
    height: 70px;
    opacity: 0.9;
} 
/*  @-webkit-keyframes menuSticky {
      0% { -webkit-transform: translateY(-125px); transform: translateY(-125px); opacity: 0;}
      100% { -webkit-transform: translateY(0px); transform: translateY(0px); opacity: 0.9; }
  } 
  @keyframes menuSticky {
      0% { -webkit-transform: translateY(-125px); transform: translateY(-125px); opacity: 0;}
      100% { -webkit-transform: translateY(0px); transform: translateY(0px); opacity: 0.9; }
  }*/
body.site .navbar .nav>li>a,
body.site .dropdown-menu>li>a {
    color: #1962a6;
}
body.site .navbar .nav>.active>a,
body.site .navbar .nav>.active>a:hover,
body.site .navbar .nav>li>a:hover,
body.site .navbar .nav>.active>a:focus {
    background-color: transparent;
    box-shadow: none;
    color: rgba(246, 110, 13, 0.83);
}
body#body .nav li a {
  font-family: 'assistantregular';    
  font-size: 16px;
}
body#body.desktop .nav a {
  font-size: 16px;
}
.navbar .nav > li {
  display: inline-block;
}
.navbar .navbar-inner {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 10px 0;
    background-color: transparent;
    background-image: none;
}
nav.navbar-wrapper.innerwidth {
    margin: 0 auto;
}
.navbar {
    margin: 0 0 5px;
    padding: 0;
    position: relative;
    z-index: 999;
}
body.site .dropdown-menu {
    padding: 0px;
}
  /*hover / current active states*/
body#body.desktop .dropdown-menu>li>a:hover,
body#body.desktop .dropdown-menu>li>a:focus,
body#body.desktop .dropdown-submenu:hover>a,
body#body.desktop .dropdown-submenu:focus>a {
    color: #fff;
    text-decoration: none;
    background-color: rgba(246, 110, 13, 0.73);
    background-image: none;
    filter: none;
}
body#body .dropdown-menu>.active>a,
body#body .dropdown-menu>.active>a:hover,
body#body .dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: rgba(246, 110, 13, 0.83);
    background-image: none;
    filter: none;
}
body#body .navbar .nav>li>.dropdown-menu:after { /*submenue triangle in hoverfarbe*/
    border-bottom: 6px solid #fff;
}
    /*<--END hover / current active states*/


 /* Activates hovering the main items to show the sub items */
@media (min-width: 980px) {
   .nav-pills > li > a,
   .dropdown-menu {
      margin: 0;
   }
 
   body.site.desktop .nav-pills > li.dropdown:hover ul.dropdown-menu {
      visibility: visible; 
      opacity: 1;
      z-index: 1;
      -webkit-transform: translateY(0%);
          -ms-transform: translateY(0%);
              transform: translateY(0%);
      -webkit-transition-delay: 0.1s, 0.1s, 0.4s;
           -o-transition-delay: 0.1s, 0.1s, 0.4s;
              transition-delay: 0.1s, 0.1s, 0.4s; 
  }
 
   body.site.desktop ul.dropdown-menu {
      display: block;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 0;
      -webkit-transform: translateY(-2em);
          -ms-transform: translateY(-2em);
              transform: translateY(-2em);
      z-index: -1;
      -webkit-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
      -o-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
      transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
   } 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu {
      display: block;
   }
}

/* Submenus below each other */
@media (max-width: 733px) {
   .dropdown,
   .dropdown-submenu {
      display: block;
      position: static;
      float: none;
   }
   .dropdown-menu {
      position: static;
      float: none;
   }
   .open .nav-child.dropdown-menu {
      display: block;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow:none;
   }
}



/*bootstrap Carousel*/

.item {
   max-width: 100%;
}

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 2.0s ease;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
/*!<-- end BS carousel

/*table*/

table#weiterbildungTable {
    font-family: 'assistantregular';
    width: 100%;
    margin: 50px 0px;
}
table#weiterbildungTable tr,
table#weiterbildungTable td,
table#weiterbildungTable th {
    border: 1px solid #e2e2e2;
    padding: 10px 5px 10px 10px;
    text-align: left;
}
table#weiterbildungTable tr:nth-child(odd) {
    background: #f9f9f9;
}
/* width */
body.weiterbildungen.phone ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
body.weiterbildungen.phone ::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
body.weiterbildungen.phone ::-webkit-scrollbar-thumb {
    background: #2783c6;
    border-radius: 5px; 
}

/*<---END table*/

body#body button.ap-btn,
body.site .blog a.btn,
body.site.seo-page a.btn {
    background-image: none;
    background: #ed9824;
    text-shadow: none;
    color: #fff;
    border: 1px solid #ed9824;
    box-shadow: 0px 6px 30px -9px #e2aa5d;
    transition: all 0.3s ease-in-out;
}
body#body.desktop button.ap-btn:hover,
body#body.desktop a.ap-btn:hover {
    background: #fff;
    color: #ed9824;
}

/* non-critical CSS */
body.desktop .homePresent__bottom2 .sloganContainer {
    width: 320px;
}
.startFade {
    opacity: 1;
}

/*.homePresent__bottom2 h2 {
    text-transform: uppercase;
}*/
.mannschaft .werteContainer__content h2:before {
    content: '';
    position: absolute;
    width: 50%;
    top: 40px;
    height: 2px;
    background: #fff;
    left: 25%;
}
.mannschaft .werteContainer__content h2 {
    background-color: #F78635;
    margin: 0;
    line-height: 140px;
    color: #fff;
    position: relative;
}
.zitatBanner address {
    color: #afafaf;
    font-size: 1.4em;
    margin: 10px;
    font-style: italic;
}
.zitatBanner blockquote {
    font-size: 1.7em;
    font-style: italic;
    color: #4a4a4a;
    font-family: serif;
}
.zitatBanner.fullwidth {
    margin: 80px 0px;
    background-color: #ededed;
    padding: 30px 0px 40px;
}
.werteContainer {
    margin: 30px 0px;
}
.werteContainer__content img {
    box-shadow: 0px 5px 30px -7px #c5c5c5;
}
.unsereWerte h3 {
    font-size: 1.2em;
}
.unsereWerte {
    text-align: center;
}
.werteContainer__item h2 {
    font-size: 1.8em;
    margin: 20px 0px;
}
.custom.unsereWerte .innerwidth>h2 {
    text-transform: uppercase;
}
.bottom,
.bottom2 {
    margin: 50px 0px;
}
.module_top.position_top1 {
    z-index: 1;
    position: relative;
}
.top.navCellHome:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 0;
}
.top.navCellHome {
    background-image: url('/images/kanzlei-hetsch-parallax-bckgr.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 40%;
/*    background-size: cover;
    background-position: 70% 40%;*/
}
.top {
    padding: 100px 0px;
    position: relative;
}
.navCellContent h3 {
    position: relative;
}
.navCellContent h3:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 50%;
    height: 1px;
    background: #2662a4;
    text-align: center;
}
.navCell h3,
.navCell p  {
    color: #fff;
    transition: 0.5s ease-in-out;
}
body#body .navCellContent p {
    font-size: 14px;
}
.navCell h3 {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: bold;
}
.navCell p {
    font-size: 16px;
}
.navCell--imgContainer {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
body.desktop .navCell a:hover .navCell--imgContainer img {
    transform: scale(1.2);
}
body.desktop .navCell a:hover .navCellContent p,
body.desktop .navCell a:hover .navCellContent h3 {
    color: #e0e0e0;
}
body.desktop .navCell img {
    width: 60px;
    transform: scale(1);
    transition: 0.2s ease-in-out;
}
body.desktop .navRow.navRow__unten .navCell:last-child .navCellContent img {
    width: 100px;
}
body.desktop .navCell {
    width: 275px;
}
.navCell {
    text-align: center;
    margin: 30px 0px;
    padding: 30px 15px;
    transform: scale(1);
    background-color: rgba(39, 131, 198, 0.6);
    border-radius: 3px;
    transition: all 0.15s ease-in-out;
}
body.desktop .navCell:hover {
    transform: scale(1.03);
    background-color: rgba(39, 131, 198, 0.7);
}
body.desktop .navRow,
body.desktop .werteContainer,
body.tablet .werteContainer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
body.desktop .werteContainer__item {
    border-radius: 3px;
}
body.desktop .werteContainer__imgContainer {
    position: relative;
    overflow: hidden;
}
body.desktop .werteContainer__imgContainer {
    border: 4px solid #fff;
    transition: 0.2s ease-in-out;
}
body.desktop .werteContainer__item:hover .werteContainer__imgContainer {
    border-color: #ef8722;
}
.werteContainer__content--img {
    position: relative;
}
.werteContainer__content--img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(25, 98, 166, 0.1);
    transition: 0.3s ease-in-out;
}
div .mannschaft .werteContainer__item:hover .werteContainer__content--img:after {
    background: rgba(25, 98, 166, 0.3);
}
/*footer*/
body#body .seopage-link a {
    color: inherit;
    font-size: 12px;
    text-decoration: underline;
}
footer .vcard img {
    max-width: 270px;
}
footer .vcard {
    padding-top: 30px;
}
footer .vcard p,
footer .vcard a,
#copyright p,
#copyright a {
    font-size: 14px;
}
body.not_home div#aboveTHeFold {
    border-bottom: 50px solid #f8f8f8;
}
body.not_home div#belowTheFold {
    border-top: 20px solid #f49739;
}
body#body footer.footer p,
body#body footer.footer a {
    font-family: 'assistantregular';
}
footer .logo {
    margin: 20px 0px 40px;
}
footer.footer {
    text-align: center;
}
footer p.org {
    display: none;
/*    font-size: 1.7em;
    text-transform: uppercase;*/
}
footer p.adr {
    text-transform: uppercase;
}
footer p.tel a {
    color: inherit;
}
ul.socialMedia li {
    display: inline;
    padding: 10px;
}
ul.socialMedia,
#copyright {
    margin: 50px 0px;
}
#copyright a {
    color: inherit;
    text-transform: uppercase;
}
/*resize Alarm*/
body.desktop #resizeAlarm {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 999;
}
body.desktop #resizeAlarm p {
    line-height: 50px;
    color: #fff;
    font-size: 21px;
    -webkit-transform: translate(0%,50%);
        -ms-transform: translate(0%,50%);
            transform: translate(0%,50%);
}

/*cookie control*/
body#body #cookiesck .cookiesck_inner a,
a.cookieImp {
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
}
body#body #cookiesck_accept {
    background: #fff;
    color: #f28c30;
    float: none;
    width: 100px;
    margin: 20px auto 0px !important;
    border: 1px solid #fff;
}
body#body #cookiesck_readmore {
    margin: 1px 0px 1px 1px;
    color: #fff;
    float: none;
    text-decoration: underline;
    padding: 10px 10px 10px 0px;
}
body#body #cookiesck {
    font-family: 'assistantregular';
    padding: 5px 10px 5px;
    font-size: 16px;
}
body#body #cookiesck_readmore:hover,
body#body a.cookieImp:hover {
    color: #5782b5;
}
body#body #cookiesck .cookiesck_inner,
a.cookieImp {
    display: initial;
    line-height: 20px;
}
body#body #cookiesck_accept:hover {
    font-size: initial;
    background: #f28c30;
    color: #fff;
    border-color: #fff;
}
@media(max-width: 1280px) {
  body#body.site div#cookiesck span {
      font-size: 14px !important;
  }
  body#body.site #cookiesck_readmore {
      padding: 0px 3px 0px 0 !important;
  }
  body#body.site #cookiesck_accept {
      float: none !important;
      margin: 10px auto !important;
  }
  body#body.site #cookiesck {
      text-align: left !important;
      line-height: 25px !important;
  }
}
@media(max-width: 1366px) {
  body#body.mobile #cookiesck_accept {
      width: 80px;
  }
}