/*
 * Responsive CSS 089-Webdesign
 */

@media(width: 320px) {

}

@media(width: 480px) {
	
}

@media(width: 600px) {
	
}

@media(width: 768px) {
	
}

@media(width: 800px) {
	
}

@media(width: 1024px) {
	
}
@media only screen and (min-width: 280px) and (max-width: 359px) and (orientation: portrait) {
	body#body.mobile.phone .nav li a {
	    font-size: 12px;
	}
}
@media only screen and (min-width: 360px) and (max-width: 480px) and (orientation: portrait) {
	body#body.mobile.phone .nav li a {
	    font-size: 14px;
	}
}
@media(max-width: 767px) and (orientation: portrait) {
	/*critical*/
	body#body.mobile .seo-module--container h2 {
	    font-size: 16px;
	    line-height: 25px;
	}	
	body#body.mobile .seo-module--container h1 {
	    font-size: 21px;
	}
	body#body.mobile .seo-module--container {
	    top: 5%;
	}
	body#body.tablet.seo-page .navRow.navRow__unten {
		margin: initial;
		background: initial;
		padding: initial;
	}
	body#body.tablet .navCell {
		width: initial;
	}
	body#body.tablet .navRow {
		display: initial;
	}
	body#body.tablet .team--haus__item {
	    width: 70%;
	    margin: 0 auto 50px;
	}	
	body#body.tablet .team--haus__row.innerwidth {
		display: block;
	}
}
@media(max-width: 880px) and (orientation: portrait) {
	/*critical*/
	body.phone div#table--container {
	    overflow-x: scroll;
	}
	body.phone table#weiterbildungTable {
	    width: 880px;
	}
	body#body.phone ol.breadcrumb a,
	body#body.phone ol.breadcrumb li {
	    font-size: 9px;
	}
	body#body.phone .team--member__item {
	    margin: 40px;
	}
	body.phone  .content--zertifikat {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}
	body.phone .content--zertifikat div {
	    max-width: 155px;
	    margin: 10px 10px 60px;
	}
	body#body.mobile.phone .item-page.home {
	    background-position: 30% 40%;
	}	
	body#body.phone.is_home .articleBody h1 {
	    font-size: calc(21px + (30 - 21) * ((100vw - 320px) / (414 - 320)));
	}
	body#body.phone.is_home .articleBody h2 {
	    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (414 - 320)));
	}	
	body#body.phone .logoWrapper.menuFlexItem {
	    width: 70%;
	}
	body#body.phone a.brand {
	    display: inline-block;
	    position: relative;
	    z-index: 9999;
	}	
	body.phone .team--haus__item {
	    margin-bottom: 50px;
	}
	body.phone .team--haus {
	    background: #f3f3f3;
	    padding: 20px 20px;
	}	
}
@media(max-width: 880px) and (orientation: landscape) {
	/*critical*/
	body#body.phone .team--haus__item {
	    width: 60%;
	    margin: 0 auto 50px;
	}
	body#body.phone .team--member__item {
	    margin: 30px auto;
	    width: 75%;
	}
	body#body.phone .content--zertifikat div {
	    max-width: 155px;
	}
	body#body.phone .content--zertifikat p {
	    -ms-flex-preferred-size: 60%;
	        flex-basis: 60%;
	}
	body#body.phone .content--zertifikat {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: justify;
	        -ms-flex-pack: justify;
	            justify-content: space-between;
	}
	body#body.phone .item-page.home:before {
	    background: -moz-linear-gradient(to top, rgba(255, 255, 255, 0.68) 50%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.25) 100%);
	    background: -webkit-linear-gradient(to top, rgba(255, 255, 255, 0.68) 50%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.25) 100%);
	    background:linear-gradient(to bottom, rgba(255, 255, 255, 0.68) 50%, rgba(125, 125, 125, 0.1) 75%, rgba(0, 0, 0, 0.22) 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="rgba(255, 255, 255, 0.68)", endColorstr="#4d000000", GradientType=0);
	}	
	body#body.phone .werteContainer__item {
	    width: 380px;
	    margin: 0 auto 50px;
	}	
	body#body.phone.is_home .articleBody h1 {
	    font-size: calc(21px + (34 - 21) * ((100vw - 320px) / (880 - 320)));
	}
	body#body.phone.is_home .articleBody h2 {
	    font-size: calc(18px + (28 - 18) * ((100vw - 320px) / (880 - 320)));
	}	
	body#body.phone a.brand img {
	    width: 40%;
	}	
}

@media(max-width: 880px) {
	/*critical*/
	body.phone .team--member__item h3 {
	    bottom: 20px;
	    -webkit-box-align: end;
	        -ms-flex-align: end;
	            align-items: flex-end;
	}		
	body.phone .seo--kernkompetenz__img img {
	    width: 300px;
	}
	body.phone .custom.seo-module.nav-kachel-1 h2 {
	    font-size: 21px;
	}
	body.phone .seo-module--nachricht.flex {
	    display: initial;
	    padding: 20px;
	}
	body.phone .seo-module--nachricht--content h2 {
	    font-size: 18px;
	    line-height: 24px;
	}
	body#body.phone .flex.flex--row {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: reverse;
	        -ms-flex-direction: column-reverse;
	            flex-direction: column-reverse;
	}
	body#body.phone .seo-module--container h1 {
	    font-size: 21px;
	}
	body#body.phone .seo-module--container {
	    top: 0%;
	}	
	body.phone h2.seo--kernkompetenz--header {
	    font-size: 21px;
	}
	body.phone .seo-module--img-container {
	    height: 200px;
	}
	body.phone .seo-module--img-container img {
	    -o-object-fit: cover;
	    object-fit: cover;
	    width: 100%;
	    height: 100%;
	}
	body#body.phone.seo-page .navRow.navRow__unten {
		margin: initial;
		background: initial;
		padding: initial;
	}
	body#body.seo-page.phone .navCell {
		width: 300px;
	}
	body#body.seo-page.phone .navRow {
		display: initial;
	}	
	body#body.phone .sloganContainer h2 {
	    border-bottom: 4px double #000;
	    width: 280px;
	    margin: 0 auto;
	}	
	body#body.phone.is_home div#aboveTHeFold {
	    height: 95vh;
	}	
	body#body.phone .homePresent__bottom {
	    height: 15vh;
	}
	body#body.phone.is_home .zitatBanner blockquote {
    	font-size: 20px;
	}
	body#body.phone.is_home h2 {
		font-size: 26px;
	}
	body#body.mobile.phone.not_home .item-page h1 {
	    font-size: 24px;
	    line-height: 30px;
	}		
	body#body.mobile.phone.not_home .item-page h2 {
	    font-size: 21px;
	}	
	body#body.phone .team h2 {
		font-size: 21px;
	}
	body#body.phone a.honorarNav--link {
	    max-width: 150px;
	    margin-bottom: 30px;
	    text-align: center;
	}
	body#body.phone nav.honorarNav {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}		
	body#body.phone .zitatBanner.fullwidth {
	    margin: 60px 0px;
	}
	body#body.phone #module_91 .werteContainer__item h2 {
	    margin: 10px 0px 20px;
	}	
	body#body.phone .werteContainer__content--img img {
	    width: 100%;
	    height: 100%;
	    -o-object-fit: cover;
	       object-fit: cover;
	}
	body#body.phone .werteContainer__item {
	    margin-bottom: 50px;
	    padding: 0px 20px;
	}
	body#body.phone .custom.unsereWerte.mannschaft .werteContainer__content h2 {
	    font-size: 32px;
	}
	body#body.phone .zitatBanner blockquote {
	    line-height: 25px;
	}
	body#body.phone .unsereWerte h3 {
	    line-height: 25px;
	}
	body#body.mobile.phone #belowTheFold .navRow.navRow__unten .navCell:last-child .navCellContent img {
	    width: 110px !important;
	}	
	body#body.phone .navCell--imgContainer img {
	   	width: 80px;
	}
	body#body.phone .navCell {
	    width: 300px;
	    margin: 0px auto 30px;
	}
	body#body.phone .top {
	    margin: 30px 0px 50px;
	    background: #f8f8f8;
	    padding: 20px 0px;
	}
	body#body.phone .top.navCellHome {
	    background-image: none;
	    background-repeat: initial;
	    background-size: initial;
	    background-position: initial;
	}	
	body#body.phone .articleBody h1 {
		font-weight: bold;
	}
	body#body.phone nav.navbar-wrapper {
	    top: 10px;
	}	
	body#body.phone .item-page.home:before {
	    bottom: 10px;
	}	
	body#body.phone .sloganContainer {
	    width: 100%
	}	
	body#body.phone .homePresent__bottom h2:after {
		content: initial;
/*	    width: 40%;
	    bottom: 0px;
	    left: calc((100% - 40%) / 2);*/
	}	
	body#body.phone .sloganContainer h2 {
	    font-size: 21px;
	    text-align: center;
	}	
	body#body.phone .homePresent h1 {
		margin: 20px 0px;
	}
	body#body.phone .homePresent h2 {
		margin: 0px;
	}	
	body#body.phone .homePresent {
	    height: inherit;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	}
	body#body.phone .item-page.home {
	    background: url(/images/kanzlei-hetsch-startseite-header-phone.jpg) top left no-repeat;
	    background-size: cover;
	    height: calc(90vh - 70px);
	    background-position: 70% 70%;
	}	
	body#body.phone nav.navbar-wrapper {
		min-width: 50%;
	}	
	body#body.phone .dropdown {
	    position: relative;
	}	
	body#body.phone div#menuWrapper {
		padding: 20px 30px 0px 30px;
	    height: 50px;
	}	
	body#body.phone {
		padding: 0px;
	}
}

@media(max-width: 1366px) and (orientation: portrait ) {
	/*critical*/
	body#body.tablet .navCell h3 {
	    font-size: 14px !important;
	}	
	body#body.tablet .team--member__item {
	    margin-right: 20px;
	    width: 22%;
	}
	body.tablet a.honorarNav--link {
	    max-width: 150px;
	    margin-bottom: 30px;
	    text-align: center;
	}
	body.tablet nav.honorarNav {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}	
	body.mobile .item-page.home:before {
	    background: -moz-linear-gradient(to top, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.25) 0%);
	    background: -webkit-linear-gradient(to top, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.25) 0%);
	    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 50%, rgba(125, 125, 125, 0.1) 100%, rgba(0, 0, 0, 0.25) 0%);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="255, 255, 255, 0.8", endColorstr="#4d000000", GradientType=0);
	    z-index: 1;
    }	
	body#body.tablet .item-page.home {
	    background-position: 30% 40%;
	}	
	body#body.tablet .logoWrapper.menuFlexItem img {
	    width: 50%;
	}
	body#body.tablet nav.navbar-wrapper {
	    width: 50%;	
	}
}

@media(max-width: 1366px) and (orientation: landscape ) {
	/*critical*/
	body#body.tablet .team--haus__row {
	    margin-bottom: 60px;
	}	
	body#body.tablet .team--member__item:last-child {
		margin-right: 0px;
	}
	body#body.tablet .team--member__item {
	    max-width: 23%;
	    margin-right: 3%;
	}	
	body#body.tablet .content--zertifikat div {
	    max-width: 185px;
	    margin-right: 60px;
	}
}

@media(max-width: 1366px) {
	/*critical*/
	body.mobile .seo-module--img-container:before {
	    content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: rgba(255,255,255, 0.7);
	}
	body.mobile .seo-module--img-container {
	    position: relative;
	}	
	body.tablet .seo--kernkompetenz__text {
	    margin-right: 20px;
	}
	body.tablet .seo--kernkompetenz__img {
		-ms-flex-preferred-size: 40%;
		    flex-basis: 40%;
	}	
	body.tablet .seo--kernkompetenz__text {
		-ms-flex-preferred-size: 60%;
		    flex-basis: 60%;
	}
	body.tablet .flex.flex--row {
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	}
	body.mobile .custom.seo-module.vorteile>div {
	    display: block;
	    width: 80%;
	    margin: 0 auto;
	}
	body.mobile .seo-module--container {
	    left: 20px;
	    top: 25%;
	    width: initial;
	}
	body#body.mobile .team--chef__text blockquote {
	    font-size: 18px;
	}	
	body#body.phone .team--chef__text blockquote {
	    margin-bottom: 30px !important;
	}
/*	body#body.mobile .team--member__item h3 {
	    text-shadow: 2px 1px 5px #5d5d5d, 1px 1px 0px #444, 1px 0px 4px #4496d6;
	}*/
	body#body.mobile .team--member__item:before {
	    background: rgba(0, 132, 194, 0.15);
	}
	body.tablet .team--member__row.space-between {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}	
	body.tablet .content--zertifikat div {
	    max-width: 165px;
	}	
	body.mobile .imgFloat {
		text-align: center;
	}	
	body.mobile .imgFloat img {
	    width: 300px;
	    margin: 30px 0px;
	}
	body#body.mobile.mykanzlei .articleBody--introImage img	{
		-o-object-fit: initial;
	    object-fit: initial;
	    max-width: 80%;
	    height: auto;
	}
	body.mobile .team--haus__row.innerwidth {
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	}	
	body.mobile .team--haus__item {
		margin-right: 0px;
	    -ms-flex-preferred-size: 30%;
	        flex-basis: 30%;
	}
	body.tablet .team--haus__row {
	    margin-bottom: 30px;
	}	
	body.mobile .articleBody--introText__inner h2 {
	    font-size: 24px;
	    line-height: 30px;
	}
	body.mobile.team .item-page,
	body.mobile.teamhaus .item-page {
	    padding: 0px 0px;
	}
	body.mobile .item-page,
	body.mobile .team-chef--container.innerwidth, 
	body.mobile .team--member.innerwidth {
	    padding: 0px 30px;
	}
	body.mobile .werteContainer__item {
	    -ms-flex-preferred-size: 30%;
	        flex-basis: 30%;
	}	
	body.mobile .werteContainer {
	    margin: 30px 20px;
	}
	body.mobile .navRow.navRow__unten .navCell:last-child .navCellContent img {
	    width: 90px;
	}
/*	body.tablet .navCell h3 {
	    font-size: 16px;
	}*/
	body.tablet .navCell {
	    width: 25%;
	}	
	body.mobile .navRow {
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	}		
	body.tablet p,
	body.tablet li,
	body.tablet a {
	    font-size: 16px;
	}	
	body.tablet .navCell img {
	    width: 50px;
    }	
	body.tablet .top.navCellHome:after {
	    background: rgba(255, 255, 255, 0.8);
	}	
	body.tablet .top.navCellHome {
	    background-position: 30% 0%;
	}	
	body.mobile .homePresent h1,
	body.mobile .homePresent p,
	body.mobile .homePresent h2 {
	    text-shadow: -6px 6px 20px rgba(138, 138, 138, 0.45);
	}	
	body.tablet .item-page.home {
		background: url(/images/kanzlei-hetsch-startseite-header-tablet.jpg) top left no-repeat;
    	background-size: cover;		
	    background-position: 40% 40%;
	}
	/*menu*/	
	button.btn-navbar:focus {
		outline:0;
	}	
	body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(2) {
	    opacity: 1;
	}
	body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(3),
	body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(1) {
	    -webkit-transform: translateY(0px) translateX(0) rotate(0deg);
	    -ms-transform: translateY(0px) translateX(0) rotate(0deg);
	    transform: translateY(0px) translateX(0) rotate(0deg);
	} 
	body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(2) {
	    opacity: 0;
	    -webkit-transition: -webkit-transform .5s ease-in-out;
	    transition: -webkit-transform .5s ease-in-out;
	    -o-transition: transform .5s ease-in-out;
	    transition: transform .5s ease-in-out;
	    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
	}
	body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(1) {
	    -webkit-transform: translateY(9px) translateX(0) rotate(45deg);
	    -ms-transform: translateY(9px) translateX(0) rotate(45deg);
	    transform: translateY(9px) translateX(0) rotate(45deg);
	    -webkit-transition: all .3s ease-in-out;
	    -o-transition: all .3s ease-in-out;
	    transition: all .3s ease-in-out;
	}
	body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(3) {
	    -webkit-transform: translateY(-9px) translateX(0) rotate(-45deg);
	    -ms-transform: translateY(-9px) translateX(0) rotate(-45deg);
	    transform: translateY(-9px) translateX(0) rotate(-45deg);
	    -webkit-transition: all .3s ease-in-out;
	    -o-transition: all .3s ease-in-out;
	    transition: all .3s ease-in-out;
	} 
	body#body .btn-navbar .icon-bar+.icon-bar {
	    margin-top: 6px;
	}
	body#body .navbar .btn-navbar .icon-bar {
	    width: 45px;
	    height: 3px;
	    background: #2783c6;
	    box-shadow: none;
	}	
	body.tablet .navbar .btn-navbar {
	    display: block;
	    position: relative;
	    z-index: 1;
	}	
	body#body button.btn.btn-navbar {
	    text-shadow: none;
	    background-image: none;
	    background: transparent;
	    border: none;
	    box-shadow: none;
	}
	body.tablet .navbar .btn-navbar {
	    display: block;
	    position: relative;
	    z-index: 1;
	}		
	body#body.mobile .item-page.home:before {
	    height: 100vh;
	    z-index: 0;
	    bottom: 0vh;		
	}
	body.mobile .navbar .btn-navbar {
		margin-right: 20px;
	}
	body.mobile div#aboveTHeFold {
	    margin-top: 0px;
	}
	body#body.mobile div#menuWrapper {
		position: relative;
		width: initial;
		z-index: 2;
	}
	body#body.mobile .navbar .nav>li>.dropdown-menu:after,
	body#body.mobile .navbar .nav>li>.dropdown-menu:before {
		content: initial;
	}
	body.mobile nav.navbar-wrapper a {
		font-size: 14px;
	}
	body.tablet nav.navbar-wrapper {
		width: 40%;    
	}	
	body.mobile nav.navbar-wrapper {
	    overflow: auto;
	    height: 100vh;
	    position: absolute;
	    right: 0;
	    top: 30px;	    
	}
	body#body.tablet .nav-collapse,
	body#body.tablet .nav-collapse.collapse {
	    height: 0!important;
	    overflow: hidden!important;
	    /*padding: 0 0 80px 20px;*/
	}
	body.tablet .nav-collapse.collapse {
	    position: absolute;
	    top: 0;
	    width: 100%;
	}
	body.tablet .nav-collapse {
	    clear: both;
	}
	body.mobile .nav-collapse ul.nav.menu.nav-pills {
	    background: #fff;
	    width: 100%;
	    -webkit-box-shadow: 0 14px 30px -11px #4a4a4a;
	    box-shadow: 0 14px 30px -11px #4a4a4a;
	    border-radius: 0 0 0 10px;
	    padding: 30px 0px 30px 20px;
	    margin: 0px 0px 30px 10px;
	    -webkit-transform: translateX(100%);
	    -ms-transform: translateX(100%);
	    transform: translateX(100%);
	    -webkit-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.3s;
	}
	body#body.mobile .nav-collapse.collapse.openMenu, body#body.tablet .nav-collapse.openMenu {
	    height: auto!important;
	}
	body.mobile .nav-collapse.openMenu ul.nav.menu.nav-pills {
	    -webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	    transform: translateX(0);
	    -webkit-transition: all .5s ease-in-out;
	    -o-transition: all .5s ease-in-out;
	    transition: all .5s ease-in-out;
	}
	body.mobile .navbar .nav>li {
	    display: block;
	    float: none;
	    margin-bottom: 15px;
	}
	body.tablet .navbar .btn-navbar {
	    display: block;
	    position: relative;
	    z-index: 1;
	}
	body#body.mobile ul.nav-child.dropdown-menu {
	    background: transparent;
	    position: initial;
	    float: none;
	    box-shadow: none;
	    border: none;
	}
	body#body.mobile .dropdown-menu>a:hover,
	body#body.mobile .dropdown-menu>a:focus,
	body#body.mobile .dropdown-menu>li>a:hover {
		background: transparent;
		background-image: none;
	}
	body#body.mobile .dropdown-menu>.active>a,
	body#body.mobile .dropdown-menu>.active>a:hover,
	body#body.mobile .dropdown-menu>.active>a:focus {
	    color: #e88e11;
	    background-color: transparent;
	    border: none;
	}		
}

/*specials*/
@media(max-width: 1760px) {
	body#body.desktop .logoWrapper.menuFlexItem {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
	}
	body#body.desktop .navbar-wrapper.menuFlexItem {
	    -ms-flex-preferred-size: 60%;
	        flex-basis: 60%;
	}
}
@media(max-width: 1460px) {
	body#body.desktop #menuWrapper .nav a {
	    font-size: 14px;
	}
}
@media(max-width: 1023px) {
	body#body.desktop div.site_wrapper {
		-webkit-filter: blur(10px);
		        filter: blur(10px);
		transition: filter 0.2s linear;
	}
	body.desktop #resizeAlarm {
		display: block;
	}	
}
@media(min-width: 1024px) {
	body.desktop #resizeAlarm {
		display: none !important;
	}
}